<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express fileupload</title>
  </head>
  <body>
    <h1>Index</h1>
    <form action="/upload" method="post" encType="multipart/form-data">
      <label for="">Seleccionar archivo</label>
      <input type="file" name="archivo" />
      <br />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
